<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>

    <title>Flack</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Channels</h1>
                <ul id="channel-list" class="list-group">
                    {% for channel in channels %}
                        <li class="list-group-item">{{ channel }}</li>
                    {% endfor %}
                </ul>
                <form id="channel-form" class="mt-3 mb-3">
                    <div class="input-group">
                        <input type="text" id="channel-name" class="form-control" placeholder="Enter channel name...">
                        <div class="input-group-append">
                            <button id="add-channel" class="btn btn-primary" type="button">+ New</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-8">
                <h1 id="channel-label">
                    <span class="text-muted"># </span>
                    <p id="room"></p>
                </h1>
                <ul id="msg-list" class="list-group"></ul>
                    {% for message in messages %}
                        <li class="list-group-item">{{ message }}</li>
                    {% endfor %}
                <form id="msg-form" class="mt-3 mb-3">
                    <div class="input-group">
                        <input type="text" id="msg-text" class="form-control" placeholder="Enter a message..." autofocus="">
                        <div class="input-group-append">
                            <button id="msg-send" type="button" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal show" tabindex="1" role="dialog" aria-labelledby="username" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <form id="username-form">
                        <input class="form-control" type="text" name="username" id="username-text">
                        <hr>
                        <button type="submit" class="btn btn-primary" id="modalInput">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="/static/index.js"></script>
</html>